
-- Add missing columns to sales_addresses table
ALTER TABLE public.sales_addresses 
ADD COLUMN IF NOT EXISTS to_communication boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS default_address boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS territory varchar(255),
ADD COLUMN IF NOT EXISTS area_id integer,
ADD COLUMN IF NOT EXISTS city_id integer,
ADD COLUMN IF NOT EXISTS pincode_id integer,
ADD COLUMN IF NOT EXISTS district_id integer,
ADD COLUMN IF NOT EXISTS state_id integer,
ADD COLUMN IF NOT EXISTS sales_leads_id integer;

-- Add foreign key constraints if needed
ALTER TABLE public.sales_addresses 
-- Territory is now a varchar field, no foreign key needed
ADD CONSTRAINT fk_sales_addresses_area FOREIGN KEY (area_id) REFERENCES public.areas(id),
ADD CONSTRAINT fk_sales_addresses_city FOREIGN KEY (city_id) REFERENCES public.cities(id),
ADD CONSTRAINT fk_sales_addresses_pincode FOREIGN KEY (pincode_id) REFERENCES public.pincodes(id),
ADD CONSTRAINT fk_sales_addresses_district FOREIGN KEY (district_id) REFERENCES public.districts(id),
ADD CONSTRAINT fk_sales_addresses_state FOREIGN KEY (state_id) REFERENCES public.states(id),
ADD CONSTRAINT fk_sales_addresses_sales_leads FOREIGN KEY (sales_leads_id) REFERENCES public.sales_leads(id);

